body {
  height: 100vh;
  width: 100vw;
  background-color: #f7f5f0;
  background-image: linear-gradient(45deg, #f7f5f0 35%, #edbfb6 100%);
}
.main {
  width: 100%;
  height: 100%;
  background-color: #f7f5f0;
  background-image: linear-gradient(45deg, #f7f5f0 35%, #edbfb6 100%);

  backdrop-filter: blur(100px);
}
.header {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  margin-top: 3%;
}
.sou {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
}
.ugly {
  width: 30%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  /* Button Drop */

  box-shadow: 10px 15px 40px rgba(175, 175, 175, 0.1);
  border-radius: 10px;
}
.portfolio {
  width: 47px;
  height: 15px;

  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  /* dark */

  color: #676767;
}
.team {
  width: 30px;
  height: 15px;

  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  /* dark */

  color: #676767;
}
.contact {
  width: 59px;
  height: 15px;

  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  /* dark */

  color: #ff5555;
}
.lud {
  height: 100%;
  width: 30%;
  align-items: center;
  margin-left: 50%;
}
.boxm {
  width: 80%;
  height: 40%;
  display: flex;
  margin-right: 5%;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  /* Button Drop */

  box-shadow: 10px 15px 40px rgba(175, 175, 175, 0.1);
  border-radius: 10px;
}
.let {
  width: 71px;
  height: 15px;
  font-family: Oxygen;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: flex-end;
  color: #ff5555;
}
.container {
  height: 18%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desi {
  width: 11%;
  height: 50%;
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 200%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;

  color: #000000;
}
.desi2 {
  width: 100%;
  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  display: flex;
  justify-content: space-around;
  color: #ff5555;
}
.container2 {
  height: 55%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cuts {
  width: 100%;
  height: 100%;

  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 300%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #676767;
}
.cus {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
  color: #ff5555;
}
.getyqs {
  width: 100%;
  height: 100%;

  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: center;

  color: #676767;
}
.box10 {
  width: 30%;
  height: 80%;
  padding: 3%;
  display: flex;
  flex-direction: column;

  background: #e5e5e5;
  backdrop-filter: blur(23px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
}
.box11 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5555;
  box-sizing: border-box;
  margin-bottom: 3%;
}
.box12 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5555;
  box-sizing: border-box;
  margin-bottom: 3%;
}
.box13 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5555;
  box-sizing: border-box;
  margin-bottom: 3%;
}
.box14 {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff5555;
  box-sizing: border-box;
  background-color: #ff5555;
  margin-bottom: 3%;
}
@media (max-width: 768px) {
  .box10 {
    width: 80%;
    display: flex;
  }
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .portfolio {
    margin-left: 5px;
    margin-top: 5px;
  }
  .team {
    margin-left: 5px;
    margin-top: 5px;
  }
  .contact {
    margin-left: 5px;
    margin-top: 5px;
  }
  .sou {
    width: 18%;
    display: flex;
    flex-direction: column;
  }
  .lud {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }
  .ugly {
    width: 145%;
    height:35%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-top: 5px;
    padding: 2px;
  }
}

@media (max-width: 768px) {
  .desi {
    width: 45%;
  }
}
